.main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.main > .footer {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 250px;
}

.main > .banner {
  color: darkblue;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 50px;
}

.banner-msg {
  margin-top: 50px;
  width: 450px;
}