.main {
  --purple_dark: #232B59;
  --purple_light: #7378D9;
  --green_light: #5ABF90;
  --border_radius: 4px;

  display: flex;
  flex-wrap: nowrap;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;
}

.main .footer {
  position: absolute;
  text-align: center;
  margin: 0;
  bottom: 1em;
}

.main .banner {

  display: flex;
  width: 60vw;
  height: 60vh;

  color: white;
  background: var(--purple_light);

  border-radius: var(--border_radius);
  box-shadow: 0px 0px 6px #aaa;
  overflow: hidden;
}


.main .banner .introduction .header {
  position: relative;
  font-weight: bold;
  margin-bottom: 25px !important;
}

/* Adds an underline to the header text */
.main .banner .introduction .header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 60%;
  max-width: 10em;
  height: 2px;

  background: white;
}

.main .banner-block {
  width: 10vw;
  height: 100%;
  background: var(--purple_dark);
}

.main .content {
  position: relative;

  display: flex;
  padding: 2rem;
  width: 60%;

  flex-direction: column;
  justify-content: center;
}

.footer a {
  color: var(--purple_light);
}

@media only screen and (max-width: 700px), (max-height: 700px) {
  .main {
    --border_radius: 0;
    display: block;
    background: var(--purple_light);
  }

  .main .banner {

    width: 100%;
    height: auto;
    flex-direction: column;

    box-shadow: none;
    box-sizing: border-box;
  }

  .main .banner-block {
    width: 100%;
    height: 40px;
  }

  .main .content {
    padding: 1rem;
    padding-bottom: 2rem;

    width: 100%;
    display: block;

    box-sizing: border-box;
  }

  .main .content .introduction {
    width: 100%;
    box-sizing: border-box;
  }

  .main .footer {
    position: relative;
    padding-top: 1rem;

    color: white;
    border-top: 2px dashed var(--purple_dark);
  }

  .main .footer a {
    color: var(--purple_dark);
  }

  .form-grid,
  .submit-button {
    width: 100% !important;
  }

  /* Alert message */
  .main .msg-form {
    z-index: 2;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;

    box-shadow: none;
  }
}

@media only screen and (max-width:600px) {
  .main .banner {
    flex-direction: column;
  }

  /* Hide purple_dark bar */
  .main .banner-block {
    display: none;
  }
}