@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.main {
  --app_color_secondary: #006747;
  --app_color_primary: #5ABF90;
  --app_color_text: #767575;
  --border_radius: 4px;

  display: flex;
  flex-wrap: nowrap;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}

.main .banner {
  display: flex;
  max-width: 980px;
  min-height: 65vh;

  color: var(--app_color_text);
  background: none;

  border: 4px solid var(--app_color_primary);
  border-radius: var(--border_radius);

  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 4rem;
}

.main .banner .introduction {
  width: 75%;
  min-width: 560px;
  margin-bottom: 1rem;
}

.main .banner .introduction .header {
  position: relative;
  font-weight: 700;
  margin-bottom: 25px !important;
}

/* Adds an underline to the header text */
.main .banner .introduction .header::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -3px;

  width: 100%;
  max-width: 10em;
  height: 3px;

  background: var(--app_color_text);
}

/* Decorative block on the left side of the application */
.main .banner-block {
  width: 17%;
  max-width: 10rem;
  height: 100%;
  background: var(--app_color_primary);
}

/* Where the form is added */
.main .content {
  position: relative;

  display: flex;
  padding: 2rem;
  width: 80%;

  flex-direction: column;
  justify-content: center;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 1em;
}

.footer a {
  color: var(--app_color_primary);
}

@media only screen and (max-width: 700px),
(max-height: 600px) {
  .main {
    --border_radius: 0;
    display: block;
  }

  .main .banner {
    flex-direction: column;
    width: 100%;
    height: auto;
    
    margin: 0 auto;

    box-shadow: none;
    box-sizing: border-box;
  }

  .main .banner-block {
    width: 100%;
    height: 40px;
  }

  .main .content {
    padding: 1rem;
    padding-bottom: 2rem;

    width: 100%;
    display: block;

    box-sizing: border-box;
  }

  .main .content .introduction {
    width: 100%;
    min-width: initial !important;
    box-sizing: border-box;
  }

  .main .footer {
    position: relative;
    padding-top: 1rem;

    color: #222;
  }

  .main .footer a {
    color: var(--app_color_secondary);
  }

  .form-grid{
    max-width: none !important;
  }

  .form-grid,
  .submit-button {
    width: 100% !important;
  }

  /* Alert message */
  .main .msg-form {
    z-index: 2;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;

    box-shadow: none;
  }
}

@media only screen and (max-width:600px) {
  .main .banner {
    border: none;
    border-top: 40px solid var(--app_color_primary);
  }

  .main .banner-block {
    display: none;
  }
}