.main .msg-form {
  position: absolute;
  /* margin: 2.5%; */
  /* height: 100%; */
  /* padding: 25px; */
  display: block;
  padding: 25px;
  background: #dc004e;
  border-radius: var(--border_radius);
  box-shadow: 0px 0px 10px #555;
}

.form-grid{
  width: 80% !important;
}

.submit-button{
  width: 70%;
  /* background-color:var(--green_light) !important; */
  color:white !important;
  font-size: 20px !important;
}