.main > .msg-form {
  /* margin: 2.5%; */
  /* height: 100%; */
  /* padding: 25px; */
}

.form-grid{
  width: 80% !important;
}

.submit-button{
  width: 70%;
  /* background-color:var(--green_light) !important; */
  color:white !important;
  font-size: 20px !important;
}